# Folders (ignored everywhere in the project)
**/backup/
**/__pycache__/

# Python bytecode caches
*.py[cod]
*$py.class

# Build & Simulation Outputs
target/
output/
bin/
test/output/

# Binaries & Maven artifacts
*.jar
*.war
*.ear
dependency-reduced-pom.xml

# IDEs & System Files
.vscode/

# The docker zip folders
*.tar
